In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Импорт csv

In [5]:
df_file = pd.read_csv("federalconstructionwagerate-eng.csv", encoding='cp1252')
df_file.head(5)

,Fair Wage Schedule for Federal Construction Contracts,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,Province,Area Zone,Classes,Occupation,Wage Rate per Hour
2,Alberta,Calgary Zone,NaN,*Electricians,$30.86
3,Alberta,Calgary Zone,NaN,*Plumbers,$31.98
4,Alberta,Calgary Zone,NaN,Sprinkler System Installers,$34.92

### Переименовываем

In [6]:
df_file_updated = df_file.rename(columns={'Fair Wage Schedule for Federal Construction Contracts': 'province',
                                          'Unnamed: 1': 'area_zone',
                                          'Unnamed: 2': 'classes',
                                          'Unnamed: 3': 'occupation',
                                          'Unnamed: 4': 'wage_rate_per_hour'})
df_file_updated.drop([0,1], inplace=True)
df_file_updated.reset_index().drop(columns=['index'])

,province,area_zone,classes,occupation,wage_rate_per_hour
0,Alberta,Calgary Zone,NaN,*Electricians,$30.86
1,Alberta,Calgary Zone,NaN,*Plumbers,$31.98
2,Alberta,Calgary Zone,NaN,Sprinkler System Installers,$34.92
3,Alberta,Calgary Zone,NaN,"*Pipefitters, Steamfitters",$27.82
4,Alberta,Calgary Zone,NaN,*Sheet Metal Workers,$31.04
...,...,...,...,...,...
1023,Yukon,NaN,Category D Class,Mortar Persons,$22.09
1024,Yukon,NaN,Category D Class,Pump Tenders,$22.09
1025,Yukon,NaN,Category D Class,"Roller Operators (roller, packer or compactor)",$22.09
1026,Yukon,NaN,Category D Class,Roofer's Helpers,$22.09
1027,Yukon,NaN,Category D Class,Watchpersons or Security Guards,$22.09

### Подготовка данных

In [7]:
# Убираем '*'
for i in range(0, len(df_file_updated.occupation)):
    if '*' in df_file_updated.occupation.iloc[i]:
        df_file_updated.occupation.iloc[i] = df_file_updated.occupation.iloc[i].rsplit('*')[1]
    else:
        continue

# Убираем '$'
for i in range(0, len(df_file_updated.wage_rate_per_hour)):
    if '$' in df_file_updated.wage_rate_per_hour.iloc[i]:
        df_file_updated.wage_rate_per_hour.iloc[i] = float(df_file_updated.wage_rate_per_hour.iloc[i].rsplit('$')[1])
    else:
        continue

df_file_updated

,province,area_zone,classes,occupation,wage_rate_per_hour
2,Alberta,Calgary Zone,NaN,Electricians,30.86
3,Alberta,Calgary Zone,NaN,Plumbers,31.98
4,Alberta,Calgary Zone,NaN,Sprinkler System Installers,34.92
5,Alberta,Calgary Zone,NaN,"Pipefitters, Steamfitters",27.82
6,Alberta,Calgary Zone,NaN,Sheet Metal Workers,31.04
...,...,...,...,...,...
1025,Yukon,NaN,Category D Class,Mortar Persons,22.09
1026,Yukon,NaN,Category D Class,Pump Tenders,22.09
1027,Yukon,NaN,Category D Class,"Roller Operators (roller, packer or compactor)",22.09
1028,Yukon,NaN,Category D Class,Roofer's Helpers,22.09
1029,Yukon,NaN,Category D Class,Watchpersons or Security Guards,22.09

Запись в файл csv

In [23]:
df_file_updated.to_csv('out.csv')