In [49]:
import pandas as pd

Импорт csv

In [50]:
df_file = pd.read_csv("federalconstructionwagerate-eng.csv", encoding='cp1252')
df_file.head(5)

,Fair Wage Schedule for Federal Construction Contracts,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,NaN,NaN,NaN,NaN
1,Province,Area Zone,Classes,Occupation,Wage Rate per Hour
2,Alberta,Calgary Zone,NaN,*Electricians,$30.86
3,Alberta,Calgary Zone,NaN,*Plumbers,$31.98
4,Alberta,Calgary Zone,NaN,Sprinkler System Installers,$34.92

Rename columns

In [51]:
df_file_updated = df_file.rename(columns={'Fair Wage Schedule for Federal Construction Contracts': 'province',
                                          'Unnamed: 1': 'area_zone',
                                          'Unnamed: 2': 'classes',
                                          'Unnamed: 3': 'occupation',
                                          'Unnamed: 4': 'wage_rate_per_hour'})
df_file_updated.index
df_file_updated.drop([0])
df_file_updated

,province,area_zone,classes,occupation,wage_rate_per_hour
0,NaN,NaN,NaN,NaN,NaN
1,Province,Area Zone,Classes,Occupation,Wage Rate per Hour
2,Alberta,Calgary Zone,NaN,*Electricians,$30.86
3,Alberta,Calgary Zone,NaN,*Plumbers,$31.98
4,Alberta,Calgary Zone,NaN,Sprinkler System Installers,$34.92
...,...,...,...,...,...
1025,Yukon,NaN,Category D Class,Mortar Persons,$22.09
1026,Yukon,NaN,Category D Class,Pump Tenders,$22.09
1027,Yukon,NaN,Category D Class,"Roller Operators (roller, packer or compactor)",$22.09
1028,Yukon,NaN,Category D Class,Roofer's Helpers,$22.09
1029,Yukon,NaN,Category D Class,Watchpersons or Security Guards,$22.09